.card{ 
    margin: 0 auto;
    margin-right: 2rem;
    margin-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


.profile-pic{
  width: 15rem;
  display: inline;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  margin-top: 1rem;
}

.table{
  display: inline-table;
  margin-left: 1rem;
  width: 70%;
  margin-top: 1rem;
}