#home-carousel-card{
    padding: 1rem;
}

* {
    box-sizing: border-box;
  }



@media screen and (max-width: 899px) {

    #homeservicefor{
        width: 80vw;
        margin-top: 5vw;
    }

    #homeimage1{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }

    #servicedetails{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: block;
      margin-top: 5vw;
    }

    
  }

@media screen and (min-width: 900px) {
    #column {
        width: 33vw;
        padding: 0.01rem;
        float:left;
        }
        
    #row::after {
        content: "";
        clear: both;
        display: table;
        margin-right: auto;
        margin-left: auto;
      }
    


      #homeimage1{
        
        width: 31.5vw;
        margin-left: 2rem;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      }
          
      #servicedetails{
        margin-left: 5rem;
        width: 59vw;
      }
}



