#home-carousel-card{
    padding: 1rem;
}

* {
    box-sizing: border-box;
  }


@media screen and (max-width: 899px) {

    #homeservicefor{
        width: 80vw;
        margin-top: 5vw;
    }
  }

@media screen and (min-width: 900px) {
    #column {
        width: 32vw;
        padding: 0.5rem;
        float:left;
        }
        
        #row::after {
            content: "";
            clear: both;
            display: table;
            margin-right: auto;
            margin-left: auto;
          }
}


